:root {
  --salmon: salmon;
  --peach: peachpuff;
  --dark-shadow: rgba(0, 0, 0, 0.5);
  --btn-shadow: -1px -1px 2px rgba(0,0,0,.2);
  --border-dark: rgba(0,0,0,0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: 100% 8px;
}

.case {
  position: absolute;
  inset: 50px 0 auto;
  margin: auto;
  z-index: 2;

  width: 360px;
  padding: 20px 0;
  border-radius: 9px;

  background: var(--salmon);
  background-image:
    radial-gradient(
      farthest-corner at 0 50%,
      rgba(255,255,255,.4) 0%,
      rgba(255,255,255,0) 100%
    );

  box-shadow:
    inset rgba(255,254,255,.6) 0 .3em .3em,
    inset rgba(0,0,0,.15) 0 -.1em .3em,
    var(--salmon) 0 .1em 3px,
    var(--salmon) 0 .3em 1px,
    rgba(0,0,0,.2) 0 .5em 5px;
}

.screen {
  width: 330px;
  margin: auto;
  padding: 5px;
  background: #DCF0E6;
  box-shadow: inset 0 0 5px 1px var(--dark-shadow);
}

.screen .stats {
  display: flex;
}

.screen .stats div {
  display: inline-flex;
  margin: 10px;
}

.creature {
  width: 95%;
  border-radius: 5px;
}

.creature img {
  max-width: 130px;
  margin-left: 90px;
  padding: 10px;
}

/* btns */
.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.buttons div {
  margin: 10px;
}

.buttons button,
#revive {
  cursor: pointer;
  background: transparent;
  color: var(--peach);
  border: 1px solid var(--border-dark);
  box-shadow: var(--btn-shadow);
}

.buttons button {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  font-size: 25px;
  border-radius: 35%;
}

.buttons button:hover,
.buttons button:focus,
#revive:hover {
  background-color: var(--salmon);
}

#revive {
  display: none;
  margin: 5px auto;
  padding: 10px 25px;
  font-size: 20px;
}

/* health bar */
input[type=range] {
  --fill: 100%;

  width: 100%;
  height: 14px;
  margin: 6px 0;

  appearance: none;
  -webkit-appearance: none;

  border-radius: 7px;
  background:
    linear-gradient(
      to right,
      var(--salmon) var(--fill),
      var(--peach) var(--fill)
    );

  box-shadow: inset 0 1px 3px rgba(0,0,0,.4);

  pointer-events: none; 
}

/* HARD rm circle thing in all browsers */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  opacity: 0;
}

input[type=range]::-moz-range-thumb {
  width: 0;
  height: 0;
  border: 0;
  opacity: 0;
}

input[type=range]::-ms-thumb {
  width: 0;
  height: 0;
  border: 0;
  opacity: 0;
}

/* rm default tracks */
input[type=range]::-webkit-slider-runnable-track {
  background: transparent;
}
input[type=range]::-moz-range-track {
  background: transparent;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}


/* todo */
input[type=range].low {
  background:
    linear-gradient(
      to right,
      crimson var(--fill),
      var(--peach) var(--fill)
    );
}

/* mobile */
@media (max-width: 400px) {
  .buttons button {
    margin: 10px 0;
  }
}
